[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-gas-snapshot"]
	path = lib/forge-gas-snapshot
	url = https://github.com/marktoda/forge-gas-snapshot
[submodule "src/pkgs/v2-core"]
	path = src/pkgs/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "src/pkgs/v2-periphery"]
	path = src/pkgs/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "lib/solidity-lib"]
	path = lib/solidity-lib
	url = https://github.com/Uniswap/solidity-lib
[submodule "src/pkgs/v3-core"]
	path = src/pkgs/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "src/pkgs/v3-periphery"]
	path = src/pkgs/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "lib/base64"]
	path = lib/base64
	url = https://github.com/Brechtpd/base64
[submodule "src/pkgs/v4-core"]
	path = src/pkgs/v4-core
	url = https://github.com/Uniswap/v4-core/
[submodule "src/pkgs/v4-periphery"]
	path = src/pkgs/v4-periphery
	url = https://github.com/Uniswap/v4-periphery/
[submodule "src/pkgs/permit2"]
	path = src/pkgs/permit2
	url = https://github.com/Uniswap/permit2/
[submodule "src/pkgs/universal-router"]
	path = src/pkgs/universal-router
	url = https://github.com/Uniswap/universal-router
[submodule "src/pkgs/uniswapx"]
	path = src/pkgs/uniswapx
	url = https://github.com/uniswap/uniswapx
[submodule "src/pkgs/view-quoter-v3"]
	path = src/pkgs/view-quoter-v3
	url = https://github.com/Uniswap/view-quoter-v3.git
[submodule "src/pkgs/util-contracts"]
	path = src/pkgs/util-contracts
	url = https://github.com/Uniswap/util-contracts.git
[submodule "src/pkgs/swap-router-contracts"]
	path = src/pkgs/swap-router-contracts
	url = https://github.com/Uniswap/swap-router-contracts
[submodule "lib/v4-core"]
	path = lib/v4-core
	url = https://github.com/Uniswap/v4-core
[submodule "lib/forge-chronicles"]
	path = lib/forge-chronicles
	url = https://github.com/marktoda/forge-chronicles
